.review-container {
    display: flex; 
    flex-wrap: wrap; 
    margin: 1rem -54px;    gap: 1rem;
  }
  
  .review-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem; 
    width: 30%;
  }
  
  .star-rating {
    display: flex;
    color: gold;
  }
  
  .star {
    margin-right: 2px;
    background: none;
    color: gold;
    font-size: 24px;
  }
  
  .reviewer-info {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  
  .reviewer-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0;
  }
  
  .reviewer-name,
  .date {
    margin: 0;
    margin-left: 20px;
  }
  
  .date {
    color: #888;
    font-size: 0.9rem;
  }

.latest-review{
  margin-right: auto;
  margin-top: 80px;
}





/* Tablet (768px and below) */
@media (max-width: 768px) {
  .latest-review{
    margin:10px auto;
    margin-top: 30px;
  }
  .review-container {
    margin: 1rem 0;
    gap: 0.5rem;
  }

  .review-card {
    width: 80%; 
    padding: 1rem;
    margin: 10px auto;
  }

  .reviewer-info {
    flex-direction: column; 
    align-items: flex-start;
  }

  .reviewer-name,
  .date {
    margin-left: 0;
    margin-top: 5px; 
  }
}

/* Mobile (480px and below) */
@media (max-width: 480px) {
  .latest-review{
    margin:10px auto;
    margin-top: 30px;
  }
  .review-container {
    flex-direction: column;
    gap: 1rem;
    justify-content: center;

  }

  .review-card {
    width: 100%;
    padding: 0.8rem;
  }



  .star {
    font-size: 20px;
  }

  .reviewer-name {
    font-size: 1rem;
  }

  .date {
    font-size: 0.8rem;
  }
}



  